
aiohttp
ansible
ansible-cmdb
azure-cli
bcrypt
beautifulsoup4
cachetools
click
cloudflare
cryptography
email-validator
extract-msg
fastapi
feedgen
feedparser
ffmpeg-python
flask
Flask
flask-bcrypt
flask-httpauth
flask-limiter
flask-login
flask-menu
ghp-import
gunicorn
gunicornrequests
importlib-metadata
jinja2
jinja2Flask
jmespath
kr8s
kubernetes
lxml
makejinja
markdown
markupsafe
matplotlib
mergedeep
mkdocs
mkdocs-material
mkdocs-material-extensions
netaddr
nsx-policy-python-sdk
nsx-python-sdk
nsx-vmc-aws-integration-python-sdk
nsx-vmc-policy-python-sdk
numpy
openai-whisper
openpyxl
openshift
packaging
pandas
paramiko
pdfminer.six
pdfplumber
pexpect
prompt-toolkit
pygments
pymdown-extensions
pyopenssl
pyOpenSSL
pyparsing
pytest
python-dateutil
python-docx
python-dotenv
python-markdown-math
python-pptx
pyVmomi
pywinrm
pywinrm[kerberos]
pyyaml
pyyaml-env-tag
pyyamlflask
requests
scipy
setuptools
six
sqlalchemy
timeloop
torch
torchaudio
vmware-vcenter
vmwarecloud-aws
vmwarecloud-draas
watchdog
wcwidth
Werkzeug
zipp
