---
name: "Render Readme"

on:
  workflow_call:
    secrets:
      BOT_APP_ID:
        description: The App ID of the GitHub App
        required: true
      BOT_APP_PRIVATE_KEY:
        description: The private key of the GitHub App
        required: true

permissions:
  contents: write

jobs:
  render-readme:
    name: Render README
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: 3.x
          cache: pip

      - name: Install Python Requirements
        shell: bash
        run: pip install -r ./.github/scripts/requirements.txt && pip freeze

      - name: Render README
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
        shell: bash
        run: python ./.github/scripts/render-readme.py

      - name: Commit Changes
        shell: bash
        run: |
          git config --global user.name "${{ secrets.BOT_USERNAME }}"
          git config --global user.email "${{ secrets.BOT_USERNAME }}[bot]@users.noreply.github.com"
          git add ./README.md
          git commit -m "chore: render README.md" || echo "No changes to commit"
          git push origin || echo "No changes to push"
